/* Foundation */
.navbar-default {
	background-color: #9600f0;
}

/* Selected Part of Navbar */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: #8c00e6;
	color: #ffffff;
}

/* Default Navbar */
.navbar-nav > li > a,
.navbar-header > a {
	background-color: #9600f0;
	color: #f0dcff;
}

/* Navbar Header */
.navbar-header {
	background-color: #9600f0;
	border-color: #9600f0;
	color: #f0dcff;
}

/* Right Side of Navbar */
.navbar-default .navbar-nav .navbar-right > li > a,
.navbar-default .navbar-nav .navbar-right > li > p {
	background-color: #9600f0;
	color: #f0dcff;
}


body {

}

table th, td, tr {
    padding-right: 5px;
    padding-left:5px;
    padding-top:3px;
    padding-bottom:3px;
}

body {
    font-family: Exo\ 2,Helvetica Neue,Tahoma,Arial,Hiragino Kaku Gothic ProN,Meiryo,Microsoft YaHei,Apple SD Gothic Neo,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    color: #555;
    background-color: #fff;
}

#content {
     margin-left: 20px;
}
