/* Navbar Items */
.navbar-default .navbar-nav > li > a {
	background-color: #9600f0;
	color: #f0dcff;
}

/* Navbar Item Selected */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
	background-color: #8c00e6;
	color: #ffffff;
}


/* Navbar Brand */
.navbar-default .navbar-header > a {
	background-color: #8600e0;
	color: #f0dcff;
}

/* Navbar Brand Selected */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	background-color: #8600e0;
	color: #ffffff;
}

/* Right Side of Navbar */
.navbar-default .navbar-right {
	background-color: #9600f0;
}

/* Logged in Text */
.navbar-default .navbar-text {
	color: #f0dcff;
	font-size: 14px;
}

/* Collapse */
.navbar-default .navbar-collapse {
    	background-color: #9600f0;
}

/* Foundation */
.navbar-default {
    	background-color: #9600f0;
    	border-color: #b16af8;
	background-image: none;
}

body {

}

table th, td, tr {
    padding-right: 5px;
    padding-left:5px;
    padding-top:3px;
    padding-bottom:3px;
}

body {
    font-family: Exo\ 2,Helvetica Neue,Tahoma,Arial,Hiragino Kaku Gothic ProN,Meiryo,Microsoft YaHei,Apple SD Gothic Neo,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    color: #555;
    background-color: #fff;
}

#content {
     margin-left: 20px;
}
