{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
	{{ username }}

	<div> 
		<h4 style="display:inline"><b>High Score:</b></h4>
		{{ high_score }}
	</div>

	<div style="display:inline; float:left;"> 
		<h4><b>Average Score:</b></h4>
		{{ avg_score }}
	</div>

	<div style="display:inline; float:left;"> 
		<h4><b>Accuracy:</b></h4>
		{{ acc }}
	</div>

	<div style="display:inline; float:left;"> 
		<h4><b>Ranked Score:</b></h4>
		{{ pp }}
	</div>

	<div style="display:inline; float:left;"> 
		<h4><b>Play Count:</b></h4>
		{{ games_played }}
	</div>

{% endblock %}
