{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
	{{ username }}

	<p><b>High Score:</b></p> {{ high_score }}

	<p><b>Average Score:</b></p> {{ avg_score }}

	<div style="display:inline; float:left;"> 
		<p><b>Accuracy:</b></p>
		{{ acc }}
	</div>

	<div style="display:inline; float:left;"> 
		<p><b>Ranked Score:</b></p>
		{{ pp }}
	</div>

	<div style="display:inline; float:left;"> 
		<p><b>Play Count:</b></p>
		{{ games_played }}
	</div>

{% endblock %}
