{% extends "layout.html" %}

{% block title %}Play{% endblock %}

{% block content %}

	<script>
		function startGame() {
  			var introText;
  			introText = document.getElementById("introText");
			introText.innerHTML = "Starting Game..."
			setTimeout(function () { introText.innerHTML = "Game Starting in: 3 seconds" }, 1000);
			setTimeout(function () { introText.innerHTML = "Game Starting in: 2 seconds" }, 2000);
			setTimeout(function () { introText.innerHTML = "Game Starting in: 1 second" }, 3000);
			setTimeout(function () { 
				introText.innerHTML = "";
				providedQuote = document.getElementById("typedText");
				providedQuote.style.display = "block";
			}, 4000);
		}
		
		
		$(document).ready(function(){
			$(":submit").click(function(e){
				e.preventDefault();
				var reply = $("input#givenText").val();
				$("form#textBox").load("/showScore");
			});
		});
	</script>

	<h1>Type Quickly!</h1>
		
	<div id="introText">
		<p>Press the button to begin the race</p>
		<button id="startButton" onclick="startGame()">Start Game!</button>
	</div>
	
	<div id="typedText" style="display: none">
		{{ provided_quote }} 	
	</div>
	
	<form id="textBox">
		Copy the text from above.<br>
		<input type="text" id="givenText">
		<br><br>
		<input type="submit">
	</form>

{% endblock %}
