{% extends "layout.html" %}

{% block title %}Play{% endblock %}

{% block content %}

	<script>
		function startGame() {
  			var introText;
  			introText = document.getElementById("introText");
 			introText.innerHTML = "&#xf244;";
			setTimeout(function () { introText.innerHTML = "Game Starting in: 3 seconds" }, 1000);
			setTimeout(function () { introText.innerHTML = "Game Starting in: 2 seconds" }, 2000);
			setTimeout(function () { introText.innerHTML = "Game Starting in: 1 second" }, 3000);
			setTimeout(function () { introText.innerHTML = "Go!" }, 4000);
		}
		
		$(document).ready(function(){
			$("#startButton").click(startGame());
		});
	</script>

	<h1>Type Quickly!</h1>
		
	<div id="introText">
		<p>Press the button to begin the race</p>
	</div>
	
	<button id="startButton">Start Game!</button>

	<form action='/response' method = "post">
		Copy the text from above.<br>
		<input type="text" name="return-text">
		<br><br>
		<input type="submit">
	</form>

{% endblock %}
