{% extends "layout.html" %}

{% block title %}Play{% endblock %}

{% block content %}

	<script>
		$(document).ready(function(){
			$("button").click(function()({
				$("#div1").load("/countdown3");
				//$("#div1").load("/countdown2");
				//$("#div1").load("/countdown1");
				//$("#div1").load("/startGame");
			}););
		});
	</script>

	<h1>Type Quickly!</h1>
		
	<div id="div1">
		<p>Press the button to begin the race</p>
	</div>
	
	<button>Start Game!</button>

	<form action='/response' method = "post">
		Copy the text from above.<br>
		<input type="text" name="return-text">
		<br><br>
		<input type="submit">
	</form>

{% endblock %}
